<div class="container">
  <div style="margin-top: 7%;">
  <section class="cards" >
      <article class="card card--1" *ngFor="let quiz of quizzes">
        <div class="card__info-hover">
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24">
            </svg><span class="card__time">{{quiz.quizzes.duration}} Hrs</span>
          </div>
        </div>
        <div class="card__img"></div>
        <a href="{{quiz.quizzes.url}}" class="card_link">
          <div class="card__img--hover" style="background-image: url('../../assets/Cours_pic/{{quiz.quizzes.photo}}');"></div>
        </a>
        <div class="card__info">
          <span class="card__category">{{quiz.quizzes.type}}</span>
          <h3 class="card__title">{{quiz.quizzes.nom}}</h3>
          <span class="card__by">by<a href="{{quiz.quizzes.url}}" class="card__author" title="author"> {{quiz.quizzes.maker}}</a></span>
        </div>
      </article>  
    </section>
  </div>
  </div>
  