<main>

    <!-- Course Section -->
    <section class="container" id="course">
        <div class="text-center mb-5" style="margin-top: 2%;">
            <h2>Bases de Big Data</h2>
            <p class="p-2 p-lg-0">Qu’est-ce qu’une architecture Big Data et pourquoi en avez-vous besoin ?</p>
        </div>
        <div class="row  justify-content-between gy-5 gx-0">

            <div class="card flex-md-row col-lg-12">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Introduction </h2>
                    </div>
                    <p class="card-text text-muted">Le Big Data oblige les entreprises à adapter leurs systèmes 
                        existants pour pouvoir effectuer l’ingestion, le traitement et l’analyse de données volumineuses. 
                        Et pour utiliser et gérer le Big Data dans son organisation, il est essentiel de penser à adapter 
                        la structure de son écosystème informatique destiné à manager, traiter et stocker 
                        ces données massives. <br> 
                    <p class="card-text text-muted">A quoi sert <b>une architecture Big Data</b> ? Et quels sont les différents 
                        types de structure ? Toutes les réponses sont dans notre guide des architectures Big Data.
                    </p>
                </div>
            </div>
            <div class="card flex-md-row col-lg-12">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Pourquoi mettre en place une architecture Big Data ?</h2>
                    </div>
                    <p class="card-text text-muted"> <br>Les systèmes de bases de données traditionnels ne permettent plus 
                        de répondre aux exigences imposées par le <b>Big Data</b>. Ils ne sont pas en mesure de traiter 
                        des volumes de données aussi massifs et assez rapidement. 
                        C’est pourquoi, pour pouvoir <b>profiter des avantages du Big Data</b>, 
                        il faut repousser les limites des systèmes notamment en termes de volume, 
                        de vitesse de traitement et de variété des données à manager.
                    </p>
                    <p class="card-text text-muted"> Pour cela, il faut adapter la structure son ecosystème informatique traditionnel et <b>mettre en place une architecture Big Data</b>.</p> 
                    <p class="card-text text-muted"> 
                        <ul>
                        <li>Un traitement en batch des sources de Big Data</li>
                        <li>Un traitement en temps réel des Big Data en mouvement</li>
                        <li>Une exploration des données volumineuses</li>
                        <li>Une transformation</li>
                        <li>Une centralisation des data issues de différentes sources et existantes sous différents formats</li>
                        <li>Des analyses prédictives</li>
                        <li>Des tâches basées sur les technologies du  et de l’intelligence artificielle</li>
                        </ul>
                    <p class="card-text text-muted">L’instauration d’une telle architecture était auparavant réservée 
                        aux grands groupes tels que Google ou Facebook puisqu’elle était très coûteuse et nécessitait 
                        de disposer de nombreux analystes, scientifiques et architectes spécialistes de la donnée. 
                        Aujourd’hui la nécessité de traiter des ensembles de données volumineuses et la baisse du coût 
                        de stockage ont rendu accessibles ces architectures Big Data à la plupart des entreprises qui 
                        utilisent la gouvernance des données.
                    </p>
                    <p class="card-text text-muted">Grâce à la mise en place <b>d’une solution de gestion et de traitement 
                        Big Data,</b> vous pourrez pleinement tirer parti de vos données, quelles que soit leurs sources 
                        et leur format pour obtenir des analyses avancées et bâtir de plan d’actions stratégiques guidés 
                        par les données.
                </div>
            </div>
            <div class="card flex-md-row col-lg-12">
                <div class="card-body">
                    <h4 class="card-title">Les composantes d’une architecture Big Data</h4>
                   <br> <p class="card-text text-muted">La plupart des <b>architectures de données volumineuses</b> incluent tout ou 
                        partie des éléments suivants :
                    <p class="card-text text-muted"> 
                        <ul>
                        <li>Source de données (data mart, data warehouse, cloud, base de données hybride)</li>
                        <li>Stockage (magasin de données, data lake)</li>
                        <li>Batch processing (traitement par lots)</li>
                        <li>Stream processing (traitement de flux de data)</li>
                        <li>Préparation de données</li>
                        <li>Data catalog</li>
                        <li>Modélisation de données</li>
                        <li>Technologie d’orchestration</li>
                        </ul>
                     <p class="card-text text-muted">En fonction du <b>type d’architecture</b> choisi et adopté, 
                        certaines de ces composantes seront absentes, mutualisées ou combinées dans la structure.
                </div>
            </div>
            <div class="card flex-md-row col-lg-12">
                <div class="card-body">
                    <h4 class="card-title">Les principaux types d’architecture Big Data</h4>
                      <br>  <p class="card-text text-muted">Il existe <b>2 principaux types d’architecture Big Data</b> : 
                            Lambda et Kappa. Chacune de ces architectures permet de répondre à un besoin spécifique. 
                            Le choix du modèle architectural le plus adapté à votre stratégie dépend de vos besoins, 
                            de vos infrastructures existantes, de vos objectifs et de votre contexte métier.</p>
                      <br> <p class="card-text text-muted">Dans tous les cas, lorsque l’on souhaite mener des projets 
                                data-driven (<b>gouverné par la donnée</b>), il faut avoir en tête que c’est une <b>architecture distribuée</b> 
                                qui doit être implémentée pour considérer les problèmes de scalabilité, de performance et 
                                de synchronisation des différentes couches.</p>
                </div>
            </div>
            <div class="card flex-md-row col-lg-12">
                <div class="card-body">
                    <h4 class="card-title">Les architectures distribuées : qu’est-ce que c’est ?</h4>
                    <br><p class="card-text text-muted">Etant donné que la <b>quantité de données Big Data à stocker</b> dépasse 
                        les capacités de traitement et de stockage des systèmes traditionnels qui n’utilise qu’une machine
                        unique, il est nécessaire de mettre en place des architectures dites distribuées.  
                        Concrètement, cela revient à <b>diviser la charge de stockage et de traitement</b> d’une machine sur 
                        plusieurs machines afin de gagner en rapidité, en réactivité et en performance.</p>
                    <p class="card-text text-muted">Les solutions Lambda et Kappa reposent sur ce système puisque, 
                        comme précisé ci-dessous, les tâches d’intégration, de traitement et de stockage sont réparties 
                        en plusieurs couches. <br>
                    <h4 class="card-title">L’architecture Lambda</h4>
                    <p class="card-text text-muted">Crée par Nathan Marz, c’est l’architecture la plus couramment utilisée 
                        pour le traitement et la gestion des données volumineuses en temps réel et par lots de manière simultanée.</p>
                    <br><p class="card-text text-muted"> Ce modèle évolutif et tolérant aux incidents a été conçu pour 
                        gérer les mises à jour avec une faible latence. L’autre avantage de cette architecture est 
                        le fait que les couches par lots et en temps réel sont totalement complémentaires et 
                        qu’une requête peut bénéficier des avantages des deux modes de traitements.
                    <br><p class="card-text text-muted"> La couche de traitement par lots (batch) sert à récupérer 
                        les données et à les stocker au format brut dans des data lakes. Un traitement est ensuite 
                        effectué périodiquement pour créer des vues logiques dans la Serving Layer.<br>
                        <p class="card-text text-muted">Les résultats et les vues créées dans les deux couches sont 
                            stockées dans une troisième couche : le serving layer.</p>
                        <p class="card-text text-muted"> Cependant, Lambda est souvent critiquée pour le fait 
                            qu’elle impose de mettre en place ces deux systèmes différents (batch et en temps réel) 
                            ce qui crée une charge opérationnelle importante en termes d’instauration et de gestion. 
                            Mais grâce à Talend et son générateur de code Spark Batch et Streaming, vous réduisez 
                            cette charge.<br>
                    <h4 class="card-title">L’architecture Kappa</h4>
                    <br><p class="card-text text-muted"> Partant du constat que la plupart des solutions effectuent
                         un traitement en temps réel et un traitement par lots, Jay Kreps a crée une nouvelle architecture
                          qui fusionne la couche batch et la couche real-time : l’architecture Kappa.<br>
                        <p class="card-text text-muted">Kappa n’est pas destinée à stocker les données Big Data mais 
                            uniquement à les traiter.</p>
                       <br><p class="card-text text-muted">Cette structure est de plus en plus utilisée dans 
                        les organisations car elle permet de mutualiser plusieurs couches et ainsi réduire 
                        la charge opérationnelle de l’architecte.<br>
                </div>
            </div>
            <div class="card flex-md-row col-lg-12">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Passez à la vitesse supérieure avec l’architecture fonctionnelle Talend Big Data</h2>
                    </div>
                    <p class="card-text text-muted">L’architecture fonctionnelle intégrée dans la plateforme Talend 
                        Real-Time Big Data est un modèle architectural qui isole les fonctionnalités spécifiques 
                        en blocs fonctionnels. Ainsi, vous pouvez gérer des systèmes de plus en plus sophistiqués 
                        en mettant en place des outils ETL pour répondre aux besoins analytiques et permettre 
                        une intégration opérationnelle. Les capacités de monitoring son alors décuplées.</p>
                    <p class="card-text text-muted">Fonctionnant avec Apache Hadoop et basée sur la solution 
                        d’intégration puissante de Talend, notre architecture fonctionnelle Big Data permet 
                        aux utilisateurs du Big Data dans votre entreprise d’accéder, transformer, déplacer 
                        et synchroniser les données volumineuses.</p>
                    <p class="card-text text-muted">De plus, le fait que la plateforme Real-Time Big Data Talend 
                        intègre un ESB, la rend flexible, évolutive, polyvalente et garantie la qualité des données 
                        pour permettre à votre organisation de relever les nouveaux défis et enjeux imposés par 
                        les Big Data qui évoluent continuellement.</p>
                </div>
            </div>

        </div>
    
    </section>

</main>

