<div class="container">
<div style="margin-top: 7%;">
<section class="cards">
    <article class="card card--1">
      <div class="card__info-hover">
        <div class="card__clock-info">
          <svg class="card__clock" viewBox="0 0 24 24">
            <path d="" />
          </svg><span class="card__time">5 Hrs</span>
        </div>
  
      </div>
      <div class="card__img"></div>
      <a href="https://www.kaggle.com/learn/python" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Cours</span>
        <h3 class="card__title">Python</h3>
        <span class="card__by">by<a href="https://www.kaggle.com/learn/python" class="card__author" title="author"> Colin Morris</a></span>
      </div>
    </article>
  
    <article class="card card--2">
      <div class="card__info-hover">
        <div class="card__clock-info">
          <svg class="card__clock" viewBox="0 0 24 24">
            <path d="" />
          </svg><span class="card__time">5 HRS</span>
        </div>
  
      </div>
      <div class="card__img"></div>
      <a href="https://www.kaggle.com/general/69415" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category">Cours</span>
        <h3 class="card__title">Big Data</h3>
        <span class="card__by">by<a href="https://www.kaggle.com/general/69415" class="card__author" title="author"> CARLO LEPELAARS</a></span>
      </div>
    </article>
  
  </section>
</div>
</div>
