        <section class="hdcontent">
            <div class="cercle"></div>
            <header>
                <a [routerLink]="" class="logo"><img src="../../logo.png" alt=""></a>
            </header>
        
        <div class="content">
            <div class="textBox">
                <h2>Enjoy learning with us</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusamus dolores eius iusto, sequi aliquam fugiat,<br>
                eaque enim architecto quasi et tempora cumque aperiam!              
                </p>
                <a href="#">learn more</a>
            </div>
            <div class="imgBox">
            <img src="../../assets/imgs/shape1.png" alt="" class="play">
            </div>
        </div>
    
    </section>

<!-- -----------------------------------Courses We Offer------------------------------------------- -->

    <section class="bdcontent">   
        <h1>Courses We Offer</h1>
        <p>
            Explore our courses            
        </p> 
        <div class="row">
            <div class="course-col">
                <h3>Python</h3>
                <p>
                    Python is a popular, easy-to-learn, and very powerful programming language, 
                    which is used in software and web development, data science, machine learning, 
                    and many other fields. In this course, we’ll cover the basic concepts of Python, 
                    as well as build real-life projects and solve different coding challenges.
                    Python for Beginners requires no prior programming experience, so let’s dive right in!
                </p>
            </div>
            <div class="course-col">
                <h3>SQL</h3>
                <p>
                    Data is powerful, but only if you know how to use it. That’s 
                    where SQL comes in! In this course, you’ll learn how to use the SQL 
                    standardized database language to access and manipulate data stored 
                    in databases. Once you know how to use SQL, you’ll be able to join 
                    top companies (and even governments!) who use data to make predictions 
                    and decisions about everything from what products to develop to how 
                    democracy should function. You don’t need any previous coding experience 
                    for this course, so dive right in!
                </p>
            </div>
            <div class="course-col">
                <h3>Big Data</h3>
                <p>
                    Big Data is a term for an industry that encompasses an ever-evolving set of software 
                    for analyzing data sets. Not only is Big Data revolutionizing marketing and business, 
                    but it’s also helping us gain a better understanding of our social world. 
                    Quiz App has Big Data courses to teach you about it all.
                </p>
            </div>
        </div>             
    </section>

<!-- -----------------------------------Our Quizzes------------------------------------------- -->

    <section class="bdcontent">   
        <h1>Our Quizzes</h1>
        <p>
            Test your skills!            
        </p> 
        <div class="row">
            <div class="course-col">
                <h3>First step</h3>
                <p>
                    Choose the lesson you want to test your knowledge to determine your level.
                </p>
            </div>
            <div class="course-col">
                <h3>Second step</h3>
                <p>
                    Here you have a set of questions that you must answer in the specified time.
                </p>
            </div>
            <div class="course-col">
                <h3>Third step</h3>
                <p>
                    Get your certificate with your name and level.
                </p>
            </div>
        </div>          
    </section>